body{
    background-color: black;
}
table{
    background-color:orangered;
    width: 500px;
    height: 500px;
    color: white;
    text-align: center;
    
}
table caption{
    color: blanchedalmond;
    font-size: xx-large;
}

.yellow{
    background-color: yellow;
    
}
.blue{
    background-color: blue;
    
}

.top{
    vertical-align: text-top;
}

.bottom{
    vertical-align:bottom;
}