body{
    background-color: black;
}
table{
    background-color:orangered;
    width: 500px;
    height: 500px;
    color: white;
    text-align: center;
    
}
table caption{
    color: blanchedalmond;
    font-size: xx-large;
}
.t2{
    
    border-spacing: 30px;
}
.t2 td{
    margin: 5px;
}

.yellow{
    background-color: yellow;
    
}
.blue{
    background-color: blue;
    
}
.green{
    background-color: green;;
}

.top{
    vertical-align: top;
}

.bottom{
    vertical-align:bottom;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}